.second-grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 250px 600px 200px;
  gap: 0px 0px;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

header { 
  grid-area: header;
  background: url(img/impacts1.png);
  background-size: cover;
  background-repeat: no-repeat !important;
}
main { 
  grid-area: main;
  background-color:white;
  font-size: 14px;
  line-height: 1.5;
  font-family: "Open Sans";
}

h1 {
  text-align: center;
  font-family: "Open Sans";
  color: white;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.2em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  letter-spacing: 1px;
}

footer { 
  grid-area: footer;
  background-color: #70d0ec;
  display: flex;
  justify-content:center;
  align-items: center;
  color: white;
  font-family: "Open Sans"
}
.footer_outer{
  width: 980px;
}

.footer_inner_left{
  width: 49%;
  float: left;
  display: inline;
}

.footer_inner_right{
  width: 49%;
  float: right;
  display:inline;
}
/* Footer Icons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.fa {
  padding: 10px;
  font-size: 10px;
  width: 10px;
  text-align: center;
  text-decoration: none;
  margin: 10px 20px;
  color: white;
  cursor: pointer;
}

.fa:hover {
  opacity: 0.7;
}

/* Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* https://codepen.io/wajahat/pen/ORXvop (referred to this code for the nav bar) */
/* https://www.youtube.com/watch?v=At4B7A4GOPg&t=627s&ab_channel=WebDevSimplified (referred to this tutorial on how to make the navbar responsive + hamburger menu)*/
.navbar{
  clear: both;
  overflow: auto;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}
.navbar-links{
  float: right;
}
.logo{
  float: left;
  padding: 20px;
}
.navbar-links ul { 
  display: flex;
  margin: 0;
  padding: 10px;
  font-size: 13px;
  font-family: "Open Sans";
  letter-spacing: 1px;
}
.navbar-links li { 
  list-style: none;
}
.navbar-links a {
  display: inline-block;
  text-decoration: none;
  padding: 9.75px 13px;
  color: white;
}
button {
  background-color: #70d0ec; 
  border: none;
  color: white;
  font-weight: 500;
  font-size: 12px;
  margin-left: 1em;
  padding: 1em 1.5em !important;
  text-align: center;
  text-decoration: none;
  letter-spacing: 2px;
  display: inline-block;
  cursor: pointer;
  outline: none;
}

button:hover {
  opacity: 0.8;
  color: white;
}

.toggle-button {
  position: absolute;
  top: .75rem;    
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color:white;
  border-radius: 10px;
}

/* Impacts Page
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*https://www.w3schools.com/howto/howto_css_images_side_by_side.asp (referred to this code) */
* {
  box-sizing: border-box;
}
.column {
  float: left;
  width: 33.33%;
  padding: 50px 70px 15px 70px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Projects Page
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.tab { 
  height: 600px;
  float: left;
  background-color: #f1f1f1;
  width: 20%
}
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 2em 1.5em !important;
  margin: 0px;
  width: 100%;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}
.tab button:hover {
  background-color: #84d2e8;
}
.tab button.active {
  background-color: #70d0ec;
}
.tabcontent {
  float: left;
  padding: 0px 12px;
  width: 80%;
  border-left: none;
  height: 600px;
}

/* Responsive
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 800px) {
  .second-grid-container{
    display: block;
  }
  header,
  main,
  footer{
    width: 100%;
    min-height: 200px;
  }
  .column {
    width: 100%;
  }
  .toggle-button {
    display: flex;
  }
  .navbar-links{
    width: 100%;
    display: none;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-links ul{
    width: 100%;
    flex-direction: column;
  }
  .navbar-links li{
    text-align: center;
  }
  .navbar-links.active {
    display: flex;
  }

}
