.second-grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 250px 550px 200px;
  gap: 0px 0px;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

header { 
  grid-area: header;
  background-color:beige;  
}
main { 
  grid-area: main;
  background-color:white;
}

footer { 
  grid-area: footer;
  background-color: #70d0ec;
}

/* Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* https://codepen.io/wajahat/pen/ORXvop (referred to this code for the nav bar) */
.nav-container{ 
  clear: both;
  overflow: auto;
  padding: 15px 10px;
  background-color: transparent;
}
nav{
  float: right;
}
.logo{
  float: left;
}
ul li{ 
  display: inline-block;
  font-size: 13px;
  font-family: "Open Sans";
  letter-spacing: 1px;
}
a {
  text-decoration: none;
  padding: 9.75px 13px;
}
button {
  background-color: #70d0ec; 
  border: none;
  color: white;
  font-weight: 500;
  font-size: 12px;
  margin-left: 1em;
  padding: 1em 1.5em !important;
  text-align: center;
  text-decoration: none;
  letter-spacing: 2px;
  display: inline-block;
  cursor: pointer;
  outline: none;
}

button:hover {
  opacity: 0.8;
  color: white;
}

/* Impacts Page
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.row {
  display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
  flex: 33.33%;
  padding: 70px;
}
/* Resize
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 460px) {
  .second-grid-container{
    display: block;
  }
  header,
  main,
  footer{
    width: 100%;
    min-height: 200px;
  }
}