.second-grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 250px 600px 150px;
  gap: 0px 0px;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

header { 
  grid-area: header;
  background-color:blueviolet;  
}
main { 
  grid-area: main;
  background-color:white;
  font-size: 14px;
  line-height: 1.5;
  font-family: "Open Sans";
}

h1 {
  text-align: center;
  font-family: "Open Sans";
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.2em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

footer { 
  grid-area: footer;
  background-color: #70d0ec;
}

/* Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* https://codepen.io/wajahat/pen/ORXvop (referred to this code for the nav bar) */
.nav-container{ 
  clear: both;
  overflow: auto;
  padding: 15px 10px;
  background-color: transparent;
}
nav{
  float: right;
}
.logo{
  float: left;
}
ul li{ 
  display: inline-block;
  font-size: 13px;
  font-family: "Open Sans";
  letter-spacing: 1px;
}
a {
  text-decoration: none;
  padding: 9.75px 13px;
  color: white;
}
button {
  background-color: #70d0ec; 
  border: none;
  color: white;
  font-weight: 500;
  font-size: 12px;
  margin-left: 1em;
  padding: 1em 1.5em !important;
  text-align: center;
  text-decoration: none;
  letter-spacing: 2px;
  display: inline-block;
  cursor: pointer;
  outline: none;
}

button:hover {
  opacity: 0.8;
  color: white;
}

/* Impacts Page
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*https://www.w3schools.com/howto/howto_css_images_side_by_side.asp (referred to this code) */
* {
  box-sizing: border-box;
}
.column {
  float: left;
  width: 33.33%;
  padding: 50px 70px 20px 70px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
/* Resize
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 460px) {
  .second-grid-container{
    display: block;
  }
  header,
  main,
  footer{
    width: 100%;
    min-height: 200px;
  }
  .column {
    width: 100%;
  }
}