.second-grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 250px 600px 140px;
  gap: 0px 0px;
  grid-template-areas: 
    "header"
    "main"
    "footer";
}

header { 
  grid-area: header;
  background: url(img/impacts1.png);
  background-size: cover;
  background-repeat: no-repeat !important;
}
main { 
  grid-area: main;
  background-color:white;
  font-size: 14px;
  line-height: 2;
  font-family: "Open Sans";
}
h1 {
  text-align: center;
  font-family: "Open Sans";
  color: white;
  letter-spacing: 2px;
  padding: 20px;
}
h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.2em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  letter-spacing: 1px;
}

/* Navigation
––––––––––––––––––––––––––––––––––––––––––––––––––
https://codepen.io/wajahat/pen/ORXvop (referred to this code for the nav bar) 
https://www.youtube.com/watch?v=At4B7A4GOPg&t=627s&ab_channel=WebDevSimplified (referred to this tutorial on how to make the navbar responsive + hamburger menu)*/
.navbar{
  clear: both;
  overflow: auto;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}
.navbar-links{
  float: right;
}
.logo{
  float: left;
  padding: 20px;
}
.navbar-links ul { 
  display: flex;
  margin: 10px;
  padding: 10px;
  font-size: 13px;
  font-family: "Open Sans";
  letter-spacing: 1px;
}
.navbar-links li { 
  list-style: none;
}
.navbar-links a {
  display: inline-block;
  text-decoration: none;
  padding: 9.75px 13px;
  color: white;
}
button {
  background-color: #70d0ec; 
  border: none;
  color: white;
  font-weight: 500;
  font-size: 12px;
  margin-left: 1em;
  padding: 1em 1.5em !important;
  text-align: center;
  text-decoration: none;
  letter-spacing: 2px;
  display: inline-block;
  cursor: pointer;
  outline: none;
}
button:hover {
  opacity: 0.8;
  color: white;
}
.toggle-button {
  position: absolute;
  top: .75rem;    
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color:white;
  border-radius: 10px;
}

/* Impacts Page
–––––––––––––––––––––––––––––––––––––––––––––––––
https://www.w3schools.com/howto/howto_css_images_side_by_side.asp (referred to this code) */
* {
  box-sizing: border-box;
}
.column {
  float: left;
  width: 33.33%;
  padding: 35px 70px 20px 70px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Projects Page
https://www.w3schools.com/howto/howto_js_vertical_tabs.asp (referred to this code for the vertical tab)
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.tab { 
  height: 300px;
  float: left;
  background-color: #f1f1f1;
  width: 20%
}
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 2em 1.5em !important;
  margin: 0px;
  width: 100%;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}
.tab button:hover {
  background-color: #84d2e8;
}
.tab button.active {
  background-color: #70d0ec;
}
.tabcontent {
  float: left;
  padding: 0px 12px;
  width: 80%;
  border-left: none;
  height: 600px;
}
.container {
	padding: 20px 40px 40px;
	width: 100%;
}
.container-image {
	display: inline-block;
	vertical-align: top;
	width: 50%;
	margin: 20px 30px 0 0;
}
.container-text {
	display: inline-block;
	width: 46%;
}
.container-text button {
  background-color: #70d0ec; 
  border: none;
  color: white;
  margin: 10px 0px 10px 0px;
  font-weight: 500;
  font-size: 12px;
  padding: 1.2em 3.5em !important;
  text-align: center;
  text-decoration: none;
  letter-spacing: 2px;
  cursor: pointer;
  outline: none;
}
/* Make a Difference Page
https://www.tutorialrepublic.com/codelab.php?topic=faq&file=jquery-show-hide-div-using-select-box (I referred to this code on how to have the select tag show different content based on the selected option)
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#headingselect{
  text-align: center;
  padding: 20px;
}
#headingselect select,
  #headingselect h1 {
    display: inline;
    vertical-align: middle;
  }
#headingselect select{
  border: 3px solid #70d0ec;
  outline: none;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Open Sans"
}
.box{
  color: white;
  padding: 20px;
  width: 100%;
  height: 600px;
}
.dono-image {
	display: inline-block;
	vertical-align: top;
	width: 50%;
	margin: 20px 30px 0px 0px;
}
.dono-text {
	display: inline-block;
	width: 23%;
  color: black;
}
.mad-button {
  border: none;
  height: 60px;
  width: 300px;
  background: #ea0876;
  color: white;
  margin: 10px;
  outline: none;
  display: block;
 }
.mad-button:focus{
  background: #70d0ec;
}
span .dono-price, .dono-description {
  display: inline-block;
}
.dono-price {
  text-align: center;
  flex-basis: 3.85em;
  font-weight: 900;
  font-size: 2em;
  padding-right: 0;
  width: 25%;
}
.dono-description {
  color: white;
  cursor: pointer;
  font-weight: 100;
  padding-left: 5px;
  text-align: left;
  width: 70%
}
form{
  text-align: center;
}
.radio-inline{
  padding: 0px 20px;
}

/* Scroll back up 
https://www.w3schools.com/howto/howto_js_scroll_to_top.asp (referred to this tutorial on how to code the scroll up button)
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#myBtn {
  display: none;
  position: fixed; 
  bottom: 30px; 
  right: 30px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color:  #ea0876; 
  color: white;
  cursor: pointer; 
  border-radius: 10px; 
  font-size: 10px; 
}
#myBtn:hover {
  background-color: #ed4597; 
}

/* Footer */
footer { 
  grid-area: footer;
  background-color: #70d0ec;
  font-family: "Open Sans";
  padding-top: 20px;
  padding-bottom: 10px;
  color: white;
  display: flex;
  justify-content: center;
}
.left{
  height: 100px;
  width: 400px;
  padding-left: 20px;
  /*background: blue;*/
}
.middle  {
  height: 100px;
  width: 400px;
  padding-left: 20px;
  /*background: green; */
}
.middle  h2{
  margin: 10px;
}
.middle  p{
  margin: 0px;
}
.middle p a{
  text-decoration: none;
  color: white;
  padding: 0px 10px;
}
.right {
  height: 100px;
  width: 400px;
  padding-left: 20px;
  /*background: blue;*/
}
.right h2{
  margin: 10px;
}
.right .fa {
  text-decoration: none;
  color: white;
  cursor: pointer;
  margin: 0rem 1rem;
  background: #ea0876;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
}
.fa:hover {
  opacity: 0.7;
}

/* Responsive
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 800px) {
  .second-grid-container{
    display: block;
  }
  header,
  main,
  footer{
    width: 100%;
    min-height: 200px;
    flex-wrap: wrap;
  }
  .column {
    width: 100%;
  }
  .toggle-button {
    display: flex;
  }
  .navbar-links{
    width: 100%;
    display: none;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-links ul{
    width: 100%;
    flex-direction: column;
  }
  .navbar-links li{
    text-align: center;
  }
  .navbar-links.active {
    display: flex;
  }
  .tab {
    width: 100%;
  }
  .tabcontent {
    width: 100%;
  }
  .container-image {
    width: 100%;
  }
  .container-text {
    width: 100%;
  }
  .container-text button {
    width: 100%
  }
  .dono-image {
    width: 100%;
  }
  .dono-text {
    width: 100%;
  }
}
